<li data-icon="false">
	<a href="#item{{@index}}">
		{{{image image_url 100 100}}}
		<h3>{{name}}</h3>
		<p class="hiddenTags">
			{{outputFilters this}}
			{{material}}
			{{tags}}
			{{season}}
		</p>
	</a>
</li>