<li data-icon="false" class="item-thumbnail">
	<a href="#item{{@index}}">
		{{{image image_url 0 160}}}
		<h3>{{name}}</h3>
		<p class="hiddenTags">
			{{outputFilters this}}
			{{material}}
			{{tags}}
			{{season}}
		</p>
		<div class="badges">
			{{{makeBadges badges}}}
		</div>
	</a>
</li>